  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/entry_info' %>
      </section>
      <section>
        <%= render 'shared/comment' %>
      </section>

      <section>
        <%= render 'shared/comment_form' %>
      </section>

    </aside>
  </div>